.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translateY(-50%);
  right: 0;
}

.land {
  flex: 0 0;
  background: gray;
}

.land.chosen {
  background: green;
}

.land.chosen.occupied {
  background: red;
}

.land:before{
  content: '';
  padding: 50% 0; /* vertical value as  100% equals width */
  display: inline-block;
}
